body {
    background-color: rgb(74, 137, 116);
}

#title {
    margin-top: 8px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
}

#facts-container, #abt-me-container {
    padding-top: 12px;
    background-color: rgb(107, 212, 177);
    border-radius: 10px;
    padding-bottom: 12px;
    /* padding: 12px; */
    margin: 0;
    margin-bottom: 12px
}

.col-5 {
    background-color: rgb(102, 191, 161);
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 8px;
}

#facts {
    margin: 0;
}

#abt-me-data {
    background-color: rgb(102, 191, 161);
    border-radius: 10px;
    /* margin: 0; */
    /* padding: 0; */
    margin-left: 12px; margin-right: 12px;
    padding-top: 12px; padding-bottom: 12px;
}

#dynamic-text-button, #skills-button {
    --bs-btn-color: #212529;
    --bs-btn-bg: rgb(102, 191, 161);
    --bs-btn-border-color: rgb(102, 191, 161);
    --bs-btn-background-color: rgb(102, 191, 161);
    --bs-btn-hover-bg: rgb(36, 63, 54);
    --bs-btn-hover-border-color: rgb(36, 63, 54);
    --bs-btn-active-bg: rgb(36, 63, 54);
    --bs-btn-active-border-color: rgb(36, 63, 54);
}

#dynamic-input-container {
    width: 400px;
}

#skills-container {
    margin-bottom: 0;
}

#skills-table-card {
    background-color: rgb(107, 212, 177);
    padding: 0px;
    padding-top: 16px;
    margin-bottom: 12px;
}

#skills-table>:not(caption)>*>* {
    background-color: rgb(107, 212, 177);
    border-bottom-width: 0;
}

#dynamic-text-output {
    margin-bottom: 25%;
}

@media (max-width: 400px) {
    #dynamic-input-container {
        width: 100%;
    }
}