#table-1, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;   
}

#dynamic-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.title-1 {
    color: lightblue
}

.title-2 {
    color: blue
}

.title-3 {
    color: darkblue
}

th {
    background-color: lime;
}

td {
    background-color: lightgreen;
}

.col-1 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.col-2-1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}

.col-2-2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}